.container {
  display: grid;
  place-content: center;
}

.container h1 {
  text-align: center;
}

.container a {
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: .8rem;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 1em 1rem;
  transition: all .3s;
}

.container a:hover {
  background: #e33d33;
}
