
.title_container {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: .8rem;
}

.title {
  color: #E33D33;
  font-size: 3em;
}

.title span {
  color: #333;
}

.pokemon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}